* {
  /* outline: 1px solid #369; */
}

.container {
  width: 1200px;
  margin: 0 auto;
}




.Header {
  line-height: 100px;
}

.Header .container {
  display: flex;
  justify-content: space-between;
}

.Header h1 {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 900;
}

.Header h1 a {
  display: block;
}

.Gnb ul {
  display: flex;
  gap: 40px;
  font-size: 26px;
  font-weight: 600;
}

.Gnb ul>li:hover {
  color: #ddd;
}

.Gnb ul>li>a {
  display: block;
}


.MainVisual {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.mainTitle {
  position: absolute;
  top: 150px;
  left: calc(((100% - 1200px) / 2) / 2);
  z-index: 999;
}

.mainTitle h2 {
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.mainTitle p {
  font-size: 26px;
  line-height: 1.25;
}

.mainSlider {
  width: calc((100% - 1200px) / 2 + 1200px);
  margin: 0 0 0 auto;
}




.MainAbout .inner {
  display: flex;
}

.inner .aboutImg {
  flex: 1;
}

.inner .aboutTxt {
  flex: 1;
  vertical-align: middle;
  margin: auto 0;
}

.aboutTxt h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 30px 100px;
}

.aboutTxt p {
  display: block;
  font-size: 16px;
  margin: 0 0 60px 100px;
  line-height: 1.3;
}

.aboutTxt a {
  display: inline-block;
  font-size: 14px;
  padding: 10px 20px;
  margin: 0 0 0 100px;
  border: 1px solid #333;
}

.aboutTxt a:hover {
  background: #333;
  color: #fff;
}



.MainIdentity {
  padding: 150px 0;
}

.MainIdentity .container {
  display: flex;
  gap: 60px;
}

.MainIdentity figure {
  position: relative;
  flex: 1;
}

/* .MainIdentity figure~figure {
  border-left: 1px solid #f1f1f1;
} */

.MainIdentity figure~figure::before {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 1px;
  height: 150px;
  background: #f1f1f1;
}

.MainIdentity figure .num {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-size: 55px;
  font-weight: 900;
  color: #f1f1f1;
  z-index: -1;
}

.MainIdentity figure .tit {
  font-size: 45px;
  font-weight: 800;
  text-align: center;
  line-height: 90px;
}

.MainIdentity figure .con {
  text-align: center;
  line-height: 1.45;
}




.MainPortfolio {
  padding: 150px;
  background: linear-gradient(#333 50%, #fff 50%);
  overflow-x: hidden;
}

.MainPortfolio .container {
  display: flex;
  position: relative;
}

/* .MainPortfolio p {
  position: absolute;
  top: 100px;
  left: -365px;
  font-size: 185px;
  font-weight: 800;
  color: #fff;
}

.MainPortfolio span {
  display: inline-block;
  position: absolute;
  top: 100px;
  right: -360px;
  font-size: 185px;
  color: #fff;
  font-weight: 800;
} */

.MainPortfolio p {
  position: absolute;
  top: 50%;
  left: -365px;
  transform: translateY(-50%);
  font-size: 185px;
  font-weight: 800;
}

.MainPortfolio p::before {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-split);
  height: 50%;
  color: #fff;
  overflow: hidden;
}

.MainPortfolio span {
  position: absolute;
  top: 50%;
  right: -360px;
  transform: translateY(-50%);
  font-size: 180px;
  font-weight: 800;
}

.MainPortfolio span::before {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-split);
  height: 50%;
  color: #fff;
  overflow: hidden;
}

.MainPortfolio figure {
  position: relative;
  z-index: 1;
}

.MainPortfolio figure .tit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8);
  font-size: 35px;
  font-weight: 700;
}

.MainPortfolio figure .box {
  position: relative;
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.MainPortfolio figure .box img {
  min-width: 600px;
}

.MainPortfolio figure .box .b_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.7s;
}

.MainPortfolio figure:hover .b_box {
  background: transparent;
}

.MainPortfolio figure:hover .tit {
  font-size: 45px;
  color: rgba(255, 255, 255, 0.2);
  transition: 0.7s;
}

.MainPortfolio figure:hover img {
  transform: translate(-180px);
  transition: 0.7s;
}




.MainPress {
  padding: 75px 0 210px;
  overflow-x: hidden;
}

.MainPress .container h2 {
  position: relative;
  font-size: 40px;
  font-weight: 800;
  padding: 0 0 0 30px;
  margin: 0 0 50px 0;
}

.MainPress .container h2::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 10px;
  height: 70px;
  background: #333;
}

.MainPress .PSlider {
  left: calc((100% - 1200px) / 2);
  width: 1700px;
}

.MainPress .PSlider .box {
  margin: 0 0 10px 0;
}

.MainPress .PSlider .tit {
  font-size: 15px;
  font-weight: 500;
}

.MainPress .arrows {
  position: relative;
}

.MainPress .arrows i {
  position: absolute;
  top: 30px;
  left: calc((100% - 1200px) / 2);
  font-size: 30px;
  cursor: pointer;
}

.MainPress .arrows i:last-child {
  margin: 0 0 0 320px;
}

.MainPress .arrows .num {
  position: absolute;
  top: 30px;
  left: calc((100% - 1200px) / 2);
  width: 350px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.MainPress .arrows .num span {
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  vertical-align: 3px;
}



.MainMap {
  padding: 150px;
  background: #f1f1f1;
}

.MainMap .container {
  display: flex;
  justify-content: space-between;
}


/* mapimg대체 */
/* .MainMap .mapImg {
  width: 775px;
  height: 400px;
  background: url(../public/img/map.jpg) no-repeat center center/cover;
} */
/* mapimg대체끝 */

.MainMap .mapTxt {
  margin: auto 0;
}

.MainMap .mapTxt h2 {
  display: inline-block;
  position: relative;
  font-size: 40px;
  font-weight: 800;
  text-align: right;
  padding: 0 30px 0 0;
  margin: 0 0 50px 0;
}

.MainMap .mapTxt h2::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: "";
  width: 10px;
  height: 70px;
  background: #333;
}

.MainMap .mapTxt p {
  text-align: right;
  line-height: 1.6;
  font-weight: 500;
}


.Footer {
  background: #333;
  color: #fff;
}

.Footer .ft_top {
  line-height: 60px;
  border-bottom: 1px solid #444;
}

.Footer .ft_top .container {
  display: flex;
  justify-content: space-between;
}

.Footer .ft_top .left {
  display: flex;
  gap: 20px;
  font-size: 14px;
  letter-spacing: 0em;
}

.Footer .ft_top .left>dd>a::after {
  content: "";
  width: 1px;
  height: 13px;
  vertical-align: middle;
  display: inline-block;
  background: #888;
  margin: 0 0 0 20px;
}

.Footer .ft_top .left>dt {
  font-weight: 600;
}

.Footer .ft_top .right {
  display: flex;
  gap: 20px;
}

.Footer .ft_top .right>li {
  font-size: 22px;
  transform: translateY(3px);
}

.Footer .ft_bottom {
  padding: 30px 0;
  font-size: 13px;
}

.Footer .ft_bottom p {
  margin: 0 0 10px 0;
}

.Footer .ft_bottom strong {
  font-weight: 600;
}